<h1>Play Your Hand. Try Your Luck!</h1>

<%
card1 = [1,2,3,4,5,6].sample
card2 = [1,2,3,4,5,6].sample
card3 = [1,2,3,4,5,6].sample
card4 = [1,2,3,4,5,6].sample
card5 = [1,2,3,4,5,6].sample
%>

<%#=card1%>
<%#=card2%>
<%#=card3%>
<%#=card4%>
<%#=card5%>

<img src="http://golearntocode.com/images/cards/<%= card1 %>.png">
<img src="http://golearntocode.com/images/cards/<%= card2 %>.png">
<img src="http://golearntocode.com/images/cards/<%= card3 %>.png">
<img src="http://golearntocode.com/images/cards/<%= card4 %>.png">
<img src="http://golearntocode.com/images/cards/<%= card5 %>.png">